header{
    height: 90px;
}

section{
    padding: 15px 200px;
}

section>div>div:first-child>div:first-child>p:first-child{
    text-transform: uppercase;
    font-size: 20px;
}

h3,
h4{
    font-family: Calibri;
    color: #414141;
    padding: 5px 0;
}

section>div{
    display: flex;
    flex-direction: column;
}

section>div>div:first-child{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

section>div>div:first-child>div{
    flex-grow: 1;
    flex-basis: 300px;
}

section>div>div:first-child>div:first-child{
    padding-right: 20px;
}

section>div>div:first-child>div:first-child li{
    list-style-position:inside;
    padding: 3px
}

section form>div{
    display: flex;
    flex-direction: column;
}
section h3{
    margin: 10px 0;
}

input[id="name"],
input[id="email"],
input[id="theme"]{
    width: 250px;
    margin: 7px 0;
}

textarea{
    max-width: 500px;
    margin: 7px 0;
    height: 300px;
}

#submit{
    margin-top: 20px;
    width: 100px;
}

input[id="submit"]{
    background-color: #414141;
    padding: 5px;
    border-radius: 24px 24px;
    color: white;
}

input[id="submit"]:hover{
    color: red;
}

.map{
    display: flex;
    justify-content: center;
}

section>div>div:last-child p{
    text-transform: uppercase;
    font-size: 23px;
    color: #414141;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid black;
}

section span{
    color: #D00000;
}

.map>div{
    box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}