footer{
    background-color: black;
    width: 100%;
}

footer a,
footer h6{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

footer h6{
    font-family: Calibri;
    font-size: 23px;
    margin-bottom: 15px;
}

footer>div{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

footer>div>div{
    margin: 10px;
    flex-grow: 1;
    flex-basis: 150px;
}

footer li{
    border-bottom: 2px solid #414141;
    padding: 10px 0;
    margin: 5px;
    position: relative;
}
footer>div>div:nth-child(1)  li>a:before,
footer>div>div:nth-child(2)  li>a:before,
footer>div>div:nth-child(3)  li>a:before{
    content: "";
    position: absolute;
    color: red;
    width: 10px;
    height: 10px;
    background-image: url(../imges/icon/icons8-%D0%BD%D0%B5%D0%BE%D1%82%D0%BC%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9-%D0%BA%D1%80%D1%83%D0%B3-24.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 15px;;
    left: -15px;;
}

footer>div>div:nth-child(1)  li>a:hover,
footer>div>div:nth-child(2)  li>a:hover,
footer>div>div:nth-child(3)  li>a:hover{
    color: red;
}

footer>div>div:nth-child(4)  li:nth-child(1)>a:before,
footer>div>div:nth-child(4)  li:nth-child(2)>a:before,
footer>div>div:nth-child(4)  li:nth-child(3)>a:before{
    content: "";
    position: absolute;
    color: red;
    width: 10px;
    height: 10px;
    background-image: url(../imges/icon/icons8-%D0%B1%D1%83%D0%B4%D0%B8%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA-26.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 15px;;
    left: -15px;;
}




