*{
    margin: 0;
    padding: 0;
}

header{
    height: 130px;
    width: 100%z;
    background: #6B6B6B;
}

.nav-page{
    display: flex;
    justify-content: center;
}

.nav-page li{
    padding: 0 15px;
    border-top: 2px solid black;
    cursor:context-menu;
}

.nav-page li>button{
    border: none;
    background-color: transparent;
    color: white;
}

.wrapper-header li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

.wrapper-header li:hover{
    background-color: #414141;
}
.wrapper-header li>a{
    font-size: 20px;
    padding: 10px 15px;
    margin:  0 5px;
    color: white;
    text-decoration: none;
}

.wrapper-header>div:first-child{
    z-index: 5;
    display: flex;
    width: 100%;
    background-color: #6B6B6B;
    justify-content: space-between; 
    position: fixed;
    box-shadow: 0px 10px 30px 2px #6B6B6B;
}

.wrapper-header>div:first-child>nav{
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    align-items:flex-end;
    flex-direction: row-reverse; 
}

.imgLog{
    margin-left: 15px;
    background-image: url(../imges/log/prestige-logo1.png);
    background-size: cover;
    width: 150px;
    flex-wrap: wrap;
    height: 80px;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;   
}   

.nav-page{
    padding-top: 100px;
    width: 100%;
}
.nav-page>ol>li>button{
    padding: 5px;
}