@media (min-width: 1000px){
    .wrapper-header>div:first-child>nav>ol{
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2){
        position: relative;
        padding: 0px 15px;
        margin:  0 5px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol{
        position: absolute;
        top: 0px;
        padding-top: 30px;
        left: -2px ;
        text-align: center;
        width: 110px;
        height: 0px;
        overflow: hidden;
    }
    .wrapper-header ol{
        display: flex;
        justify-content: flex-end;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol:hover{
        height: 470px;
        width: 500px;
        left: -220px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol>li{
        padding: 7px 10px;
        background: #414141;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol>li>ol{
        display: flex;
        flex-direction: column;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol>li>ol>li{
        border-bottom: 2px solid #6B6B6B;
        margin-bottom: 15px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3){
        position: relative;
        padding: 0px 15px;
        margin:  0 5px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3)>ol{
        position: absolute;
        text-align: center;
        top: 0;
        left: -1px;
        width: 90px;
        height: 0px;
        padding-top: 30px;
        overflow: hidden;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3)>ol:hover{
        height: 312px;
        width: 200px;
        display: flex;
        flex-direction: column;
        padding-top: 97px;
        left: -50px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3)>ol>li{
        background-color: #414141;
        padding-top: 3px;
        border-bottom: 2px solid #6B6B6B;
        font-size: 20px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3)>ol>li>a,
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol>li>ol>li>a{
        font-size: 15px;
    }
    .wrapper-header>div:first-child>nav>ol>li:nth-child(3)>ol>li>a:hover,
    .wrapper-header>div:first-child>nav>ol>li:nth-child(2)>ol>li>ol>li>a:hover{
        color: red;
    }
}
@media (max-width: 1050px){
    .photo-filter>div:first-child{
        visibility: hidden;
        height: 0;
    }

}

@media (max-width: 1000px){
    footer>div>div{
        flex-basis: 300px;
    }
    .slider-auto>div{
        flex-basis: 300px
    }
    .slider-auto>div>img{
        width: 280px;
    }
    .services>div{
        flex-basis: 300px;
    }
    .windows-with-img>div{
        width: 90%;
        position: relative;
    }
    .nav-page{
        visibility: hidden;
    }
    header{
        height: 90px;
        overflow: hidden;
    }
    header:hover{
        height: auto;
    }
    .wrapper-header>div:first-child{
        flex-direction: column;
        align-items: center;
    }
   
    .wrapper-header>div:first-child{
        position: relative;
    }
    .wrapper-header>div:first-child>nav{
        width: 100%;
    }
    .wrapper-header>div:first-child>nav>ol{
        flex-direction: column;
        width: 100%;
        
    }
    .wrapper-header>div:first-child>nav>ol>li{
        text-align: center;
        padding-top: 5px;
        height: 15px;
        overflow: hidden;  
    }
    .wrapper-header>div:first-child>nav>ol>li:hover{
        height: auto;
        border-bottom: 1px solid black;
        color: red;
    }
    .wrapper-header>div:first-child>nav>ol>li>ol{
        overflow: hidden;
    }
    .wrapper-header>div:first-child>nav>ol>li>ol:hover{
        height: auto;
    }
     .wrapper-header>div:first-child>nav>ol>li>ol:hover{
        overflow: hidden;
         height: 50xp;
    }
    .wrapper-header>div:first-child>nav>ol>li>ol>li{
        height: 10px;
        overflow: hidden;
    }
    .wrapper-header>div:first-child>nav>ol>li>ol>li:hover{
        height: auto;
    }
    .wrapper-header>div:first-child>nav>ol>li>ol>li>ol>li>a:hover{
        color: red;
    }   
    

}


@media (max-width: 900px){
    .main-img > figure > img{
        height: 450px;
    }
}

@media (max-width: 800px){
    .main-img > figure > img{
        height: 350px;
    }
    .main-photo>img{
        height: 240px;
    }
    .description{
        padding: 5px;;
    }
}


@media (max-width: 600px){
    .main-img > figure > img{
        height: 300px;
    }
    .slider{
        visibility: hidden;
        height: 0;
    }
    
    
}