header{
    height: 90px;
}

/*--------------------Фільтер-------------------------*/

section li{
    list-style: none;
}

section>div{
    display: flex;
    flex-direction: column;
}

.photo-filter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


.photo-filter>div:first-child{
    padding-left: 10px;
    background-color: #D0D0D0;
    flex-basis: 250px;
    box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
}

.photo-filter>div:last-child{
    flex-basis: 700px;
    flex-grow: 1;
    padding:30px;
}

.photo-filter>div>p{
    padding: 5px;
    font-size: 22px;
    font-family: Calibri;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.photo-filter>div>ol>li{
    text-transform: uppercase;
    padding: 10px;
    color: #212121
}

.photo-filter>div>ol>li>ol>li{
    text-transform: capitalize;
    padding: 10px;
    color: #414141;
}

.photo-filter>div>ol>li>ol>li>a{
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

.photo-filter>div>ol>li>ol>li:hover{
    color: red;
}

/*------------------Головне зображення------------------------*/

.main-photo{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.main-photo > img{
    cursor: pointer;
}

/*---------------------------Набір зображень-----------------------------*/


.list-photo>div{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-photo>div>div{
    cursor: pointer;
    flex-basis: 250px;
    height: 180px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(30%);
}

.list-photo>div>div:hover{
    filter: brightness(100%);
}

.list-photo>div>div:nth-child(1){
    background-image: url(../imges/product/ford-escape-2-6.1_l.JPG);
}
.list-photo>div>div:nth-child(2){
    background-image: url(../imges/product//ford-escape-2-6.2_l.JPG);
}
.list-photo>div>div:nth-child(3){
    background-image: url(../imges/product/ford-escape-2-6.3_l.JPG);
}
.list-photo>div>div:nth-child(4){
    background-image: url(../imges/product/ford-escape-2-6.4_l.JPG);
}
.list-photo>div>div:nth-child(5){
    background-image: url(../imges/product/ford-escape-2-6.5_l.JPG);
}
.list-photo>div>div:nth-child(6){
    background-image: url(../imges/product/ford-escape-2-6.6_l.JPG);
}
.list-photo>div>div:nth-child(7){
    background-image: url(../imges/product/ford-escape-2-6.8_l.JPG);
}
.list-photo>div>div:nth-child(8){
    background-image: url(../imges/product/ford-escape-2-6.9_l.JPG);
}
.list-photo>div>div:nth-child(9){
    background-image: url(../imges/product/ford-escape-2-6.10_l.JPG);
}
.list-photo>div>div:nth-child(10){
    background-image: url(../imges/product/ford-escape-2-6.11_l.JPG);
}
.list-photo>div>div:nth-child(11){
    background-image: url(../imges/product/ford-escape-2-6.12_l.JPG);
}
.list-photo>div>div:nth-child(12){
    background-image: url(../imges/product/ford-escape-2-6.13_l.JPG);
}
.list-photo>div>div:nth-child(13){
    background-image: url(../imges/product/ford-escape-2-6.14_l.JPG);
}
.list-photo>div>div:nth-child(14){
    background-image: url(../imges/product/ford-escape-2-6.15_l.JPG);
}
.list-photo>div>div:nth-child(15){
    background-image: url(../imges/product/ford-escape-2-6.16_l.JPG);
}
.list-photo>div>div:nth-child(16){
    background-image: url(../imges/product/ford-escape-2-6.17_l.JPG);
}
.list-photo>div>div:nth-child(17){
    background-image: url(../imges/product/ford-escape-2-6.19_l.JPG);
}
.list-photo>div>div:nth-child(18){
    background-image: url(../imges/product/ford-escape-2-6.20_l.JPG);
}
.list-photo>div>div:nth-child(19){
    background-image: url(../imges/product/ford-escape-2-6.21_l.JPG);
}
.list-photo>div>div:nth-child(20){
    background-image: url(../imges/product/ford-escape-2-6.22_l.JPG);
}
.list-photo>div>div:nth-child(21){
    background-image: url(../imges/product/ford-escape-2-6.24_l.JPG);
}
.list-photo>div>div:nth-child(22){
    background-image: url(../imges/product/ford-escape-2-6.25_l.JPG);
}
.list-photo>div>div:nth-child(23){
    background-image: url(../imges/product/ford-escape-2-6.26_l.JPG);
}
.list-photo>div>div:nth-child(24){
    background-image: url(../imges/product/ford-escape-2-6.28_l.JPG);
}
.list-photo>div>div:nth-child(25){
    background-image: url(../imges/product/ford-escape-2-6.29_l.JPG);
}
.list-photo>div>div:nth-child(26){
    background-image: url(../imges/product/ford-escape-2-6.30_l.JPG);
}
.list-photo>div>div:nth-child(27){
    background-image: url(../imges/product/ford-escape-2-6.31_l.JPG);
}
.list-photo>div>div:nth-child(28){
    background-image: url(../imges/product/ford-escape-2-6.32_l.JPG);
}
.list-photo>div>div:nth-child(29){
    background-image: url(../imges/product/ford-escape-2-6.33_l.JPG);
}
.list-photo>div>div:nth-child(30){
    background-image: url(../imges/product/ford-escape-2-6.34_l.JPG);
}

/*-------------------Опис автомобіля-------------------*/

.description-category,
.description-price{
    padding-left: 15px;
}

.description{
    padding-left: 100px;
    margin-bottom: 25px;
}

.description h3{
    font-family: Calibri;
    font-size: 32px;
    color: #313131;
    padding: 15px 0;
}

.description>div>div:nth-child(2),
.description>div>div:nth-child(3){
    font-size: 21px;
}

.description-category{
    color: #dd0000;
    font-size: 24px;
}

.description-price{
    font-weight: 900;
}

.description>div{
    padding: 5px;
}

.description{
    display: flex;
    flex-wrap: wrap;
}

.description>div>div:last-child{
    display: flex;
    flex-direction: column;
}

.description>div>div:last-child>div{
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.description>div>div:last-child>div>div{
    font-size: 21px;
    padding: 5px;
    flex-grow: 1;
    flex-basis: 0;
    border-bottom: 2px solid #414141;
}

.complete{
    flex-basis: 350px;
    flex-grow: 1;
    padding: 20px 60px 20px 20px;
}

.complete>div:first-child{
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 23px;
    color: #313131
    font-family: Calibri;
}

.complete>div:last-child{
    text-indent: 30px;
    text-align: justify;
    padding-right: 30px;
}

/*-----------------------------Зображеня яке додається------------------------------------*/

.windows-with-img{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.windows-with-img>div{
    width: 70%;
    position: relative;
}

.windows-with-img>div>img{
    height: auto;
    width: 100%;
    border: 5px solid black;
}

.windows-with-img>div>div{
    background: black;
    z-index: 11;
    height: 50px;
    width: 50px;
    top: -20px;
    position: absolute;
    right: -30px;
    border-radius: 50%;
    background-image: url(../imges/icon/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
        
}
.windows-with-img>div>div:hover{
    box-shadow: 1px 1px 10px 1px red inset;
}

