section>div{
    display: flex;
    flex-flow: column;
}
/*------------------Лучші пропозиції - навігація--------------------*/
.suggestions{
    width: 100%;
    padding-bottom: 40px;
}

.suggestions>nav>ol>li a{
    color: black;
    text-decoration: none;
}

.suggestions>nav{
    margin-bottom: 20px;
    height: 50px;
    padding: 10px;
    border-bottom: 2px solid black;
}

.suggestions>nav>ol{
    display: flex;
    width: 400px;
    height: 40px;
}

.suggestions>nav>ol>li{
    margin-left: 10px;
    width: 200px;
    height: 30px;
    position: relative;
}

.suggestions ol{
    list-style: none;
}

.suggestions>nav>ol>li>ol{
    overflow: hidden;
    height: 0px;
    padding-top: 30px;
    position: absolute;
    top: 0;
}

.suggestions>nav>ol>li>ol:hover{
    height: auto;
}

.suggestions>nav>ol>li>ol>li{
    background: #414141;
}

.suggestions>nav>ol>li>ol>li{
    padding: 10px 15px;
    padding-bottom: 0px;
    border-bottom: 2px solid #6B6B6B;
}

.suggestions>nav>ol>li>ol>li>a:hover{
    color: red;
}

.text{
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
}

.suggestions{
    background-color: #D8D8D8;
}


.suggestions>nav>ol>li:first-child{
    margin-left: 40px;
    font-size: 20px;
}

.suggestions>nav>ol>li:first-child::before{
    content:"";
    position: absolute;
    width: 35px;
    height: 100px;
    background-image: url(../imges/icon/ford.png);
    background-position: 0 -5px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: -40px;    
}

.suggestions>nav>ol>li:nth-child(2)>a{
    margin-left: 40px;
    font-size: 20px;
}

.suggestions>nav>ol>li:nth-child(2)>a::before{
    content:"";
    position: absolute;
    width: 120px;
    height: 90px;
    background-image: url(../imges/icon/8c6c4e4cfb37f4b31a653b7296984a4e.png);
    background-position: 0 -5px;
    background-size: 30%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    
}

/*------------------Лучші пропозиції----------------*/

.imgs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.number-imgs{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number-imgs>img{
    cursor: pointer;
    margin: 5px;
    height: 180px;
}

.main-img{
    display: flex;
    justify-content: center;
}   

.main-img > figure > img{
    cursor: pointer;
}

.suggestions figcaption>h5,
.suggestions figcaption>h3{
    margin-left: 15px;
    padding: 3px;
    font-family: Calibri;
    color: #414141;
}

.suggestions figcaption>h5{
    font-size: 20px;
}

.suggestions figcaption>h3{
    font-size: 30px;
}


.description{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    font-size: 30px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px 10px;
    background-color: #414141;
}

.description:hover{
    color: red;
    border: 2px solid red;
}

.description a{
    text-decoration: none;
    color: inherit;
}

/*--------------------------Нові автомобілі----------------------------*/
.new-auto {
    padding-top: 15px;
    border-top: 2px solid black;
}

.slider-auto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.slider-auto>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 1), 10px 10px 5px rgba(154, 147, 140, 1);
}

.slider-auto>div>img{
    width: 200px;
}

.slider-auto h6{
    width: 200px;
    margin-top: 10px;
    font-family: Calibri;
    font-size: 23px;
    color: #313131;
}

.slider-auto h6+p{
    margin: 10px 0;
    width: 200px;
}

.slider-auto a{
    width: 180px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 24px 24px;
    background-color: #414141;
}

.slider-auto a:hover{
    color: red;
}

.switch{
    display: flex;
    justify-content: center;
}

.switch>div{
    border-radius: 24px 24px;
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch>div>a{
    width: 50px;
    height: 50px;
    border-radius: 24px 24px;
    background-size: 70%;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.75);
}

.switch>div>a:hover{
    background: red;
}

.switch>div:first-child>a{
    background-image: url(../imges/icon/icons8-%D0%B4%D0%B2%D0%BE%D0%B9%D0%BD%D0%B0%D1%8F-%D1%81%D1%82%D1%80%D0%B5%D0%BB%D0%BA%D0%B0-%D0%B2%D0%BB%D0%B5%D0%B2%D0%BE-filled-50.png);
    background-position: 40% 50%; 
}

.switch>div:last-child>a{
    background-image: url(../imges/icon/icons8-%D0%B4%D0%B2%D0%BE%D0%B9%D0%BD%D0%B0%D1%8F-%D1%81%D1%82%D1%80%D0%B5%D0%BB%D0%BA%D0%B0-%D0%B2%D0%BF%D1%80%D0%B0%D0%B2%D0%BE-filled-50.png);
    background-position: 60% 50%;
}

.switch>div>a{
    text-decoration: none;
    color: black;
}

/*-----------------------------Наші послуги-----------------------------*/

.our-services{
    margin-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid black;
    padding-top: 20px;
    background-color: #D8D8D8;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.services>div{
    margin: 10px;
    flex-basis: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services>div>div a{
    width: 100px;
    height: 100px;
    display: inline-block;
    text-decoration: none;
}

.services>div>div:first-child{
    width: 100;
    height: 100px;
    margin: 10px;
    border-radius: 50px 50px;
}

.services>div>div:first-child>a{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50px 50px;
    box-shadow: inset 15px 5px 50px black, 1px 1px 20px black;
}

.services>div>div:first-child:hover{
    background: rgba(255, 0, 0, 1);
}

.services>div:nth-child(1)>div:first-child>a{
    background-image: url(../imges/icon/icons8-%D0%BC%D0%BE%D0%BD%D0%B5%D1%82%D1%8B-50.png);
}

.services>div:nth-child(2)>div:first-child>a{
    background-image: url(../imges/icon/icons8-%D0%BF%D0%B0%D0%BB%D0%B5%D1%86-%D0%B2%D0%B2%D0%B5%D1%80%D1%85-50.png);
}

.services>div:nth-child(3)>div:first-child>a{
    background-image: url(../imges/icon/icons8-%D0%BA%D0%BB%D1%8E%D1%87-filled-50.png);
}

.services>div:nth-child(4)>div:first-child>a{
    background-image: url(../imges/icon/icons8-%D0%BD%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8-50.png);
}

.services>div>div:last-child{
    width: 100%;
}

.our-services h6{
    font-family: Calibri;
    font-size: 21px;
    color: #414141;
}

/*--------------------------Головний слайдер------------------------------*/

.slider{
    position: relative;
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .left-button,
.slider .right-button{
    width: 100px;
    height: 100%;
    position: absolute;
    color: red;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: contrast(0%);
}

.slider .left-button{
    left: 0px;
    background-image: url(../imges/icon/icons8-%D1%88%D0%B5%D0%B2%D1%80%D0%BE%D0%BD-%D0%B2%D0%BB%D0%B5%D0%B2%D0%BE-50.png);
}

.slider .right-button{
    right:  0;
    background-image: url(../imges/icon/icons8-%D1%88%D0%B5%D0%B2%D1%80%D0%BE%D0%BD-%D0%B2%D0%BF%D1%80%D0%B0%D0%B2%D0%BE-50.png);
}

/*----------------------------Зображеня яке додається-----------------------------*/

.windows-with-img{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.windows-with-img>div{
    width: 65%;
    position: relative;
}

.windows-with-img>div>img{
    height: auto;
    width: 100%;
    border: 5px solid black;
}

.windows-with-img>div>div{
    background: black;
    z-index: 11;
    height: 50px;
    width: 50px;
    top: -20px;
    position: absolute;
    right: -30px;
    border-radius: 50%;
    background-image: url(../imges/icon/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
        
}
.windows-with-img>div>div:hover{
    box-shadow: 1px 1px 10px 1px red inset;
}



